{{title}}

<input type="text" [(ngModel)]="nombre"> {{nombre}}

<input type="text" [ngModel]="apellido" disabled>

<div *ngIf="nombre === 'Pedro'">
  Esto es un div
</div>

<button (click)="addItem()">Adicionar Item</button>

<ul>
  <li *ngFor="let item of items; index as p" >
    {{item}} {{p}}
    <button (click)="restarItem(p)" >Restar item</button>
  </li>
</ul>

<div class="product-grid">
  <app-producto *ngFor="let product of productos" (productoClic)="recibirEvento($event)" [product]="product"></app-producto>
</div>

